<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopery | Docs</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
</head>
<body>
    <h1>Shopery Docs</h1>
    <nav>
        <a href="/">•Home</a>
        <a href="/images">•Images</a>
        <a href="/docs">•Docs</a>
    </nav>
    <hr>
    <h2>Coming soon</h2>
    <hr>
    <p>FrontEnd by Fortune</p>
    <p>BackEnd by King</p>
</body>
</html>